*{
    background-color: lavender;
}
div{
    width: 50%;
    margin-left: 25%;
}
img{
    border: 5px solid whitesmoke;
    width: 100%;
}
h1{
    color: black;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
    font-size: 3rem;
}
p{
    color: black;
    text-align: center;
    
}
